name: pyffms2

on: [push, pull_request]

jobs:

  build-unix:

    strategy:
      matrix:
         os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    env:
      FFMS2_DIR: ffms2-dir

    steps:
    - uses: actions/checkout@v2
      with:
        fetch: 1

    - name: Install Python 3.7 version
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
        architecture: 'x64'

    - name: Install MacOS dependencies
      if: matrix.os == 'macos-latest'
      run: |
        brew install pkg-config automake

    - name: Install FFmpeg
      run: |
        PLATFORM=${{ matrix.os }}
        if [ ${PLATFORM} = "ubuntu-latest" ]
        then
            sudo add-apt-repository ppa:jonathonf/ffmpeg-4
            sudo apt-get install libavcodec-dev libavformat-dev libavdevice-dev
        else
            brew install ffmpeg
        fi

    - name: Install ffms2
      env:
        LINK: https://github.com/FFMS/ffms2
      run: |
        git clone --depth 1 $LINK $FFMS2_DIR
        cd $FFMS2_DIR
        ./autogen.sh --prefix=$HOME/$FFMS2_DIR
        make -j4 install

    - name: Set environment variables
      run: |
        echo "::set-env name=LD_LIBRARY_PATH::$HOME/$FFMS2_DIR/lib"

    - name: Run C-test
      run: |
        cd ffms2/data
        g++ -std=c++11 -o ffmsinfo ffmsinfo.cpp \
            -I$HOME/$FFMS2_DIR/include -L$HOME/$FFMS2_DIR/lib -lffms2
        ./ffmsinfo

    - name: Install setuptools
      run: |
        pip install setuptools

    - name: Install pyffms2
      run: |
        pip install .

    - name: Run tests
      run: |
        export DYLD_FALLBACK_LIBRARY_PATH=$HOME/$FFMS2_DIR/lib
        python ffms2/test.py

    - name: Run ffmsindex
      run: |
        export DYLD_FALLBACK_LIBRARY_PATH=$HOME/$FFMS2_DIR/lib
        python ffms2/__main__.py "ffms2/data/morning rescue.mkv"

    - name: Run ffmsinfo
      run: |
        export DYLD_FALLBACK_LIBRARY_PATH=$HOME/$FFMS2_DIR/lib
        python ffmsinfo.py "ffms2/data/morning rescue.mkv"


  build-windows:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2.0.0
      with:
        fetch: 1

    - name: Install Python 3.7 version
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
        architecture: 'x64'

    - name: Install setuptools
      run: |
        python -m pip install --upgrade pip
        pip install setuptools

    - name: Install pyffms2
      run: |
        $VERS = "0.4.5"
        $LINK = "https://github.com/bubblesub/pyffms2/releases/download/$VERS"
        $PKG = "ffms2.zip"
        curl -LO "$LINK/$PKG"
        7z x $PKG
        pip install .

    - name: Run tests
      run: |
        python ffms2/test.py

    - name: Run ffmsindex
      run: |
        python ffms2/__main__.py "ffms2/data/morning rescue.mkv"

    - name: Run ffmsinfo
      run: |
        python ffmsinfo.py "ffms2/data/morning rescue.mkv"
