name: pyffms2

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      FFMS2_DIR: ffms2-dir

    steps:
    - uses: actions/checkout@v1
    - name: Install setuptools
      run: sudo pip3 install setuptools
    - name: Install FFmpeg
      run: |
        sudo add-apt-repository ppa:jonathonf/ffmpeg-4
        sudo apt-get install libavcodec-dev libavformat-dev libavdevice-dev
    - name: Install ffms2
      env:
        LINK: https://github.com/FFMS/ffms2
      run: |
        echo "::set-env name=LD_LIBRARY_PATH::$HOME/$FFMS2_DIR/lib"
        git clone --depth 1 $LINK $FFMS2_DIR
        cd $FFMS2_DIR
        ./autogen.sh --prefix=$HOME/$FFMS2_DIR
        make
        make install
    - name: Install pyffms2
      run: |
        pip3 install .
    - name: Run C-test
      run: |
        cd ffms2/data
        g++ -std=c++11 -o ffmsinfo ffmsinfo.cpp \
            -I$HOME/$FFMS2_DIR/include -L$HOME/$FFMS2_DIR/lib -lffms2
        ./ffmsinfo
    - name: Run tests
      run: |
        python3 ffms2/test.py
    - name: Run ffmsindex
      run: |
        python3 ffms2/__main__.py "ffms2/data/morning rescue.mkv"
    - name: Run ffmsinfo
      run: |
        python3 ffmsinfo.py "ffms2/data/morning rescue.mkv"
